# Core Flask
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
python-dotenv==1.0.1
Flask-WTF==1.2.1
email_validator==2.2.0
Flask-Migrate==4.0.7

# Real-time / async
eventlet==0.36.1

# Database driver
psycopg2-binary==2.9.9

# QR code generation
qrcode==7.4.2
Pillow==10.4.0

# Machine learning
scikit-learn==1.5.1
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2

# Utilities
Werkzeug==3.0.3
gunicorn